div{
    height:200px;
    width:200px;
    background-color: chartreuse;
    border: red 5px solid;
    text-align: center;
    border-radius: 20px;
}

.div1{
    height:200px;
    width:200px;
    background-color: blue;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
}